/*? Variáveis e reset: */

:root {
    --cinzaAzulado: rgb(0, 10, 25);
    --azulEscuro: #2e25af;
    --azulClaro: #31a1d0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*? Elementos base: */

body {
    background-color: var(--cinzaAzulado);
    font-family: 'Roboto', 'Consolas';
    color: white;
}

main{
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
}

header{
    position: sticky;
    top: 0px;
    background-color: var(--cinzaAzulado);
    padding-top: 9.5px;
    padding-bottom: 8.5px;
    z-index: 2;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

header .logo {
    margin-left: 5px;
    font-size: 45px;
    letter-spacing: 1px;
}

.logo a{
    color: var(--azulEscuro);
    text-decoration: none;
}

.logo em{
    margin-right: 5px;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 15px;
}

header nav a:hover {
    color: #fff;
}

/*? Elementos do site: */

.titulo-site{
    color: var(--azulClaro);
    text-decoration: underline;
}

/*? Elemento relacionados ao filme principal: */

.destaque {
    padding: 5% 0% 7.5%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    height: 560px;
}

.destaque .descricao {
    margin-top: 10px;
    margin-bottom: 4.5%;
    font-size: 18px;
}

.destaque .container {
    width: 70%;
}

.titulo {
    margin-top: 15%;
    font-size: 50px;
}

.botao {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 100px;
    width: auto;
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 42.5%;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao em {
    margin-right: 5%;
}

.container {
    margin-left: 20px;
    margin-right: 20px;
}

/*? Elementos do carrosel:*/

.titulo-carrosel {
    font-size: 30px;
    margin-top: 7.5%;
    margin-bottom: 1.5%;
}

.box{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 15px;
}

.filmes-series-docs{
    padding-top: 1%;
    padding-bottom: 1%;
}