/*? Se a tela estar no máximo 700px: */
@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .botao{
        margin-top: 5px;
        margin-right: 12.5%;
        height: auto;
    }

    .botoes{
        width: auto;
    }

    .filme-principal{
        background-position: center;
    }

    .filme-principal .descricao{
        font-size: 15px;
    }

    .filme-principal .container{    
        width: auto;
    }

    .titulo{
        font-size: 35px;
    }
}

/*? Se a tela do navegador for no mínimo 1000px: */
@media screen and (min-width: 1000px){
    .descricao{
        width: 60%;
    }
}