/*? Se a tela estar no mínimo 1000px: */
@media screen and (min-width: 1000px){
    .descricao{
        width: 60%;
    }
}

/*? Se a tela estar no máximo 700px: */
@media screen and (max-width: 700px){
    header{
        top: -0.5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    header .container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    header .logo{
        font-size: 35px;
    }

    header nav a{
        margin-right: 10px;
    }

    .logo em{
        font-size: 35px;
    }

    .botao{
        margin-top: 5px;
        margin-right: 12.5%;
        height: auto;
    }

    .botoes{
        width: auto;
    }

    .destaque{
        height: 500px;
    }

    .destaque .descricao{
        font-size: 14px;
    }

    .destaque .container{    
        width: auto;
    }

    .titulo{
        font-size: 35px;
    }

    .item{
        height: 90%;
        width: 90%;
    }

    .titulo-carrosel{
        font-size: 25px;
    }

    .filmes-series-docs{
        margin-left: 5%;
        padding-top: 25%;
    }
}

/*? Laptop */
@media screen and (max-width: 1024px){
    .descricao{
        width: 60%;
    }

    .botoes{
        width: 55%;
    }

    .filmes-series-docs{
        padding-top: 3.5%;
    }

    .destaque{
        height: 550px;
    }
}

/*? Tablet*/
@media screen and (max-width: 768px){
    .filmes-series-docs{
        padding-top: 8.5%;
    }

    .destaque{
        height: 500px;
    }

    .botoes{
        width: 75%;
    }
}

/*? Mobile L*/
@media screen and (max-width: 425px){
    header .logo{
        font-size: 45px;
    }

    header{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .filmes-series-docs{
        padding-top: 16.5%;
    }
}

/*? Mobile M*/
@media screen and (max-width: 375px){
    header{
        padding-top: 8.5px;
        padding-bottom: 8.5px;
    }

    .filmes-series-docs{
        padding-top: 26.5%;
    }

    .titulo-carrosel {
        margin-top: 5.75%;
    }
}

/*? Mobile S*/
@media screen and (max-width: 320px){
    header .logo{
        font-size: 35px;
    }

    header{
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .filmes-series-docs{
        padding-top: 30.5%;
    }

    .titulo-carrosel {
        margin-top: 2%;
    }
}